@model RoleTopMVC.ViewModels.RespostaViewModel
<link href="~/css/site.css" rel="stylesheet" type="text/css">
<main>
         <div id="div-para-arrumar">  
            
    <h2>
        @Model.NomeView deu ruim!
    </h2>
        </div>
        <div id = "div-para-arrumar2">
    <p>
        @Model.Mensagem
    </p>
        </div>
         
</main>