<body>
    <main>
            <div id="logo-area">
                    
                        <div id="a-role-top"> 
                          <h1>A ROLÊ TOP</h1>
                        </div>
                    <div id="primeira-pagina">  <!--  DIV CRIADA APENAS PARA POSICIONAR OS ITENS DENTRO DELA-->
                                    
                    <div id="historia-do-lugar">
                        <h2>HISTÓRIA DO LUGAR</h2>
                        <p> DOIS AMIGOS, CESAR SPORTORE E ALEXANDRE FUKAYA
                            POSSUEM UMA HAMBURGUERIA, PENSAVAM SEMPRE EM 
                            AUMENTAR SEU LUCRO, POREM NAO TINHAM INTERESSE
                            EM ABRIR UMA NOVA HAMBURGUERIA.
                            DECIDIRAM ENTÃO ABRIR UM ESPAÇO PARA FESTAS,
                            CASAMENTOS, BALADAS, EVENTOS EM GERAL
                            UM LOCAL MODERNO, SEGURO, ACOCHEGANTE,
                            COM UMA BOA LOCALIZAÇÃO.
                            INICIARAM EM 2016 COM POUCOS EVENTOS,
                            AGORA SEU ESPAÇO É DISPUTADISSIMO E UM FORTE 
                            CONCORRENTE NA REGIÃO.</p>
                    </div>
                <div id="funcionarios"> 
                    <div id="alexandre-fukaya"> 
                        <h2>ALEXANDRE FUKAYA</h2>
                        <p> ALEXANDRE, 35 ANOS, GASTRONOMO,
                            DONO DE UMA HAMBURGUERIA, NASCEU EM
                            SÃO JOSÉ DOS CAMPOS TEVE UMA INFANCIA
                            COMPLICADA, NO ENTANTO SEMPRE LUTOU PELOS SEUS
                            SONHOS, GOSTA DE OUVIR MPB, UMA PESSOA CULTA, 
                            VICIADA EM LIVROS, MAS BEM MODERNA AO PONTO DE 
                            DECORAR UM AMBIENTE COM CERTA FACILIDADE.</p>
                    </div>
                     
                    <div id="cesar-sportore">
                        <h2>CÉSAR SPORTORE</h2>
                        <p> CÉSAR, 28 ANOS, CURSOU ENGENHARIA CÍVIL, 
                            PORÉM NAO DEU CONTINUIDADE NA ÁREA,
                            AMIGO DE ALEXANDRE DESDE OS 15 ANOS,
                            DECIDIRAM SE JUNTAR NO PROJETO DA
                            HAMBURGUERIA E HOJE ESTAO TAMBÉM COM UM SALÃO 
                            PARA FESTAS, BALDAS, SHOWS ETC. 
                            CÉSAR É MAIS FECHADO, AMANTE DE ESPORTES E
                            ATIVIDADES FISICAS, E GOSTA DE UM BOM SERTANEJO.</p>
                    </div>
                </div>
                <div id="serviços-faq"> 
                    <div id="serviços-opcionais"> 
                        <h2>SERVIÇOS OPCIONAIS</h2>
                        <p>*SERVIÇO DE SOM - UM SOM AMPLO, DA ULTIMA 
                            GERAÇÃO COM BONS GRAVES E UM ÓTIMO SISTEMA DE
                            EQUALIZAÇÃO.
                            <br>   
                            *SERVIÇO DE ILUMINAÇÃO - LUZES PRÓPRIAS PARA
                            BALADAS OU ATÉ MESMO PARA CASAMENTO, CÉSAR FEZ
                            CURSO DE ILUIMINAÇÃO EM EVENTOS, E TEM UM ÓTIMO
                            CONHECIMENTO SOBRE A ÁREA.
                            FOTOS DE EXEMPLOS NA GALERIA</p>
                    </div>
                            
                    <div id="faq"> 
                        <h2>FAQ</h2>
                        <p>POSSUEM ALARMES? sim. <br>
                            PERMITIDO ENTRADA DE NARGUILES? não. <br>
                            TEM SEGURANÇAS NO LOCAL? não. <br>
                            CAPACIDADE MAXIMA DE PESSOAS? 400 pessoas. <br>
                            TEM RAMPAS NO LOCAL?  sim. <br>
                            TEM UM ESPAÇO PARA FUMANTES? existe um espaço <br>
                            aberto no fundo do salão. <br>
                            
                            COMO FUNCIONA O CANCELAMENTO? em até 3 dias  <br>
                            antes do evento, devolvemos todo seu dinheiro. <br>   
                    </div>
                </div>

                    </div> 
            <div id="chat-faça"> 
                        <h2><strong><a id="bt-login" asp-controller="Pedido" asp-action="Pagamento">
                             FAÇA SEU ORÇAMENTO <br/>
                             CLIQUE AQUI!!! 
                        </a></strong></h2> 

                   <a id="chat-a" href=""> <img id="chat" src="img/CHAT.png" alt="chatbox"> </a>
            </div>                       
                </div>
                
            <section id="fundo">
                    <div id="barra-amarela">
                        <p>Só escrevi esse texto para fazer a barra!</p>
                    </div>
                    <div id="galeria-barra">
                        <h1>GALERIA</h1>
                    </div>
            <section id="sessao-galeria"> 

                <div id="fotos">
                        <img id="mesas-salao" src="~/img/mesas-casamento.jpg" alt="mesas no salao" title="mesas-salao">
                        <img id="entrada-salao" src="img/entrada-salao.jpg" alt="entrada do salao" title="entrada-salao">
                        <img id="planta-salao" src="img/PLANTA B SALAO.jpg" alt="planta do salao" title="planta-salao">
                </div>

                <div id="fotosdois">
                        <img id="show-salao"src="img/show.jpg" alt="show no salao" title="show-salao">
                        <img id= "balada-dois"src="img/BALADA-2.jpeg">
                        <img id="mesas-arrumadas-salao"src="img/MESSAS ARRUMADAS.jpg" alt="mesas arrumadas no salao" title="mesas-arrumadas-no-salao">

                </div>
                        <h2><strong><a id="bt-login" asp-controller="Pedido" asp-action="Pagamento">
                                FAÇA SEU ORÇAMENTO <br/>
                                CLIQUE AQUI!!! 
                        </a></strong></h2> 
            </section>
                    <div id="segunda-barra">
                        <p>Só escrevi esse texto para a barra!</p>
                    </div>
                    <div id="eventos-barra">
                        <h1>EVENTOS</h1>
                    </div>~
        <div id="text-eventos"> 
                <h1> EVENTOS ANTERIORES </h1>
                <h1> PRÓXIMOS EVENTOS </h1>
        </div>
        <br>
             <div id="eventos-em-cima"> 
                 <img id="vilamix" src="img/vilamix-(ja pasou).jpeg" alt="vilamix (ja aconteceu)" title="vilamix">
                 <img id="ze-neto" src="img/ze-neto-28-setempro.jpg" alt="ze neto e cristiano em 28 de setembro " title="vilamix">
             </div>
        <br>
             <div id="eventos-em-baixo">
                <img id="balada-teen"src="img/balada teen jan 2019.jpg" alt="balada teen" title="balada teen em SP">
                <img id="jota-quest"src="img/setempro-07-show.jpg" alt="jota quest + nando reis" title="show jota quest+nando reis">
             </div>
                    <div id="terceira-barra"> 
                        <p>Só escrevi esse texto para a barra!</p>
                    </div>
                    <div id="localizaçao-barra">
                        <h1>LOCALIZAÇÂO</h1>
                    </div>
            <section id="localizaçao">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.889023842466!2d-46.648335684407286!3d-23.536493566560996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deb99025%3A0xb23619858bc7e63e!2sEscola%20SENAI%20de%20Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1567804526572!5m2!1spt-BR!2sbr" width="100%" height="550" frameborder="0" style="border:10;" allowfullscreen=""></iframe>
            </section>
            </section>
            <script>
                    function toggleMobileMenu() {
                        var ul = document.querySelector("nav ul");
                        var commonButtons = document.querySelectorAll("nav .bt-common-menu");
                        var icon = document.querySelector(".icon > i");
                        ul.classList.toggle("mobile-mode");
                        if (icon.classList.contains("fa-bars")) {
                            icon.classList.remove("fa-bars");
                            icon.classList.remove("fa");
                            icon.classList.add("fas");
                            icon.classList.add("fa-skull");
                        } else {
                            icon.classList.remove("fas");
                            icon.classList.remove("fa-skull");
                            icon.classList.add("fa");
                            icon.classList.add("fa-bars");
                        }
                        for (var button of commonButtons) {
                            button.classList.toggle("active");
                        }
                    }
                </script>                
                </main>
            </body>
            </html>