* {
    margin: 0;
    padding: 0;
    }
/*****************************************************************************************************************************************
                                                                 INICIO NAV
******************************************************************************************************************************************/ 
    nav ul {
        background-color: #FFC600;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        

    }
    nav ul a {
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: black;

    }
    #logo-barra {
        height: 6.5%; 
        width: 6.5%;
    }
   
    html {
        scroll-behavior: smooth;
    }
    /*****************************************************************************************************************************************
                                                                        FIM-NAV
    ******************************************************************************************************************************************/ 
    #fundo-img {
        background-color: #a72abe;
        height: 12%;
    }

    #administrador-barra {
        background-color: #FFC600;
        justify-items: center;
        margin-left: 40%;
        margin-right: 40%;
        text-align: center;
        border: 5px solid #FFC600;
        border-radius: 0px 0px 50px 50px;
    }

    #botao-casinha {
        margin-left: 3%
    }

    #fundo {
        background-image: linear-gradient(#a72abe, #590F65); 
        height: 1080px;
    }

    td a {
        text-decoration: none;
        color: red;
    }
    
    #sim {
        text-decoration: none;
        color: blue
    }
    
    #nao {
        text-decoration: none;
        color: red

    }

    #botao-responder {
        background-color: #FFC600;
        width: 12%;
        height: 3%;
        text-align: center;
        margin-left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #botao-responder > a {
        text-decoration: none;
    }

    #painel {
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }

    .box-status-pedidos {
        width: 30%;
        padding-top: .5em;
        text-align: center;
    }
    .box-status-pedidos > p {
        font-size: 2em;
        padding: 0.5em 0 0 0;
    }
    
    .box-status-pedidos.reprovados {
        background-color: #dbdada;
        color: rgba(241, 21, 21, 0.877);
        font-size: 120%;
        border-radius: 0px 50px 0px 0px;
    }
    
    .box-status-pedidos.aprovados {
        background-color: #dbdada;
        color: rgb(56, 175, 9);
        font-size: 120%;
        border-radius: 30px 0px 0px 0px;
    }
    
    .box-status-pedidos.pendentes {
        background-color:#dbdada;
        font-size: 120%;
    }

 